h1 {
	color: green;
}
/* ----------- Tablets larger than 768px wide ----------- */
@media (min-width: 768px) {
	body {
    background: red;
  }
	h1 {
		color: yellow;
	}
}

/* ----------- Monitors larger than 1200px wide ----------- */
@media (min-width: 1200px) {
	body {
		background: blue;
		color: red;

}
